.statistics-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statistics-title {
  font-weight: var(--basic-black);
  margin-bottom: 50px;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  border: solid 1px #ddd;
  box-shadow: 8px 5px 5px 2px rgba(0, 0, 0, 0.2);
}
.apexcharts-tooltip {
  color: #242424;
}

.chart-null {
  color: #242424;
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .chart-wrapper {
    flex-direction: column;
    gap: 30px;
  }
}
